.container
  %h1 Users

  %table
    %thead
      %tr
        %th Name
        %th Skills
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td
            - unless user.skills.nil?
              - user.skill_list.each do |skills|
                = link_to skills, :skill => skills
          %td= link_to 'Show', user
