.container
  .hero-unit
    %h1 Hello, Code for America Fellows!
    %p Share skills with your fellow Fellows.
    %p <a class="btn primary large" href="/auth/linked_in">Sign In &raquo;</a>

  .row
    .span12
      %h2 About
      %p FellowsExchange is an application to see what other skills and interests the Code for America Fellows have. Interested in learning a new skill? Look and see what other Fellows might already have that skill.
      %br
      %p Make sure you have the "Skills" section filled out on your LinkedIn profile before signing in
